[Unit]
Description=Prevent kded6 from stealing statusnotifierwatcher
After=dbus.socket hyprland-session-ready.service
PartOf=graphical-session.target
Before=dms.service

[Service]
ExecStart=%h/.local/bin/sni-guard
Restart=on-failure

[Install]
WantedBy=hyprland-session-ready.service
