@define-color borders_breeze #124642;
@define-color content_view_bg_breeze #161925;
@define-color error_color_backdrop_breeze #29bd0d;
@define-color error_color_breeze #29bd0d;
@define-color error_color_insensitive_backdrop_breeze #1b4f1b;
@define-color error_color_insensitive_breeze #1b4f1b;
@define-color insensitive_base_color_breeze #151823;
@define-color insensitive_base_fg_color_breeze #0e4f44;
@define-color insensitive_bg_color_breeze #171a26;
@define-color insensitive_borders_breeze #15282f;
@define-color insensitive_fg_color_breeze #0f5349;
@define-color insensitive_selected_bg_color_breeze #171a26;
@define-color insensitive_selected_fg_color_breeze #0f5349;
@define-color insensitive_unfocused_bg_color_breeze #171a26;
@define-color insensitive_unfocused_fg_color_breeze #0f5349;
@define-color insensitive_unfocused_selected_bg_color_breeze #171a26;
@define-color insensitive_unfocused_selected_fg_color_breeze #0f5349;
@define-color link_color_breeze #00d3b8;
@define-color link_visited_color_breeze #7cb7ff;
@define-color success_color_backdrop_breeze #71f79f;
@define-color success_color_breeze #71f79f;
@define-color success_color_insensitive_backdrop_breeze #33624c;
@define-color success_color_insensitive_breeze #33624c;
@define-color theme_base_color_breeze #161925;
@define-color theme_bg_color_breeze #181b28;
@define-color theme_button_background_backdrop_breeze #1e2233;
@define-color theme_button_background_backdrop_insensitive_breeze #1d2031;
@define-color theme_button_background_insensitive_breeze #1d2031;
@define-color theme_button_background_normal_breeze #1e2233;
@define-color theme_button_decoration_focus_backdrop_breeze #00d3b8;
@define-color theme_button_decoration_focus_backdrop_insensitive_breeze #135b5d;
@define-color theme_button_decoration_focus_breeze #00d3b8;
@define-color theme_button_decoration_focus_insensitive_breeze #135b5d;
@define-color theme_button_decoration_hover_backdrop_breeze #00d3b8;
@define-color theme_button_decoration_hover_backdrop_insensitive_breeze #135b5d;
@define-color theme_button_decoration_hover_breeze #00d3b8;
@define-color theme_button_decoration_hover_insensitive_breeze #135b5d;
@define-color theme_button_foreground_active_backdrop_breeze #00c790;
@define-color theme_button_foreground_active_backdrop_insensitive_breeze #0f5349;
@define-color theme_button_foreground_active_breeze #000000;
@define-color theme_button_foreground_active_insensitive_breeze #0f5349;
@define-color theme_button_foreground_backdrop_breeze #21ffb4;
@define-color theme_button_foreground_backdrop_insensitive_breeze #1e6a5c;
@define-color theme_button_foreground_insensitive_breeze #1e6a5c;
@define-color theme_button_foreground_normal_breeze #21ffb4;
@define-color theme_fg_color_breeze #00c790;
@define-color theme_header_background_backdrop_breeze #1e2233;
@define-color theme_header_background_breeze #1e2233;
@define-color theme_header_background_light_breeze #181b28;
@define-color theme_header_foreground_backdrop_breeze #21ffb4;
@define-color theme_header_foreground_breeze #21ffb4;
@define-color theme_header_foreground_insensitive_backdrop_breeze #21ffb4;
@define-color theme_header_foreground_insensitive_breeze #21ffb4;
@define-color theme_hovering_selected_bg_color_breeze #00d3b8;
@define-color theme_selected_bg_color_breeze #069b8b;
@define-color theme_selected_fg_color_breeze #000000;
@define-color theme_text_color_breeze #02bd88;
@define-color theme_titlebar_background_backdrop_breeze #1e2233;
@define-color theme_titlebar_background_breeze #1e2233;
@define-color theme_titlebar_background_light_breeze #181b28;
@define-color theme_titlebar_foreground_backdrop_breeze #21ffb4;
@define-color theme_titlebar_foreground_breeze #21ffb4;
@define-color theme_titlebar_foreground_insensitive_backdrop_breeze #21ffb4;
@define-color theme_titlebar_foreground_insensitive_breeze #21ffb4;
@define-color theme_unfocused_base_color_breeze #161925;
@define-color theme_unfocused_bg_color_breeze #181b28;
@define-color theme_unfocused_fg_color_breeze #00c790;
@define-color theme_unfocused_selected_bg_color_alt_breeze #073b38;
@define-color theme_unfocused_selected_bg_color_breeze #073b38;
@define-color theme_unfocused_selected_fg_color_breeze #00c790;
@define-color theme_unfocused_text_color_breeze #02bd88;
@define-color theme_unfocused_view_bg_color_breeze #151823;
@define-color theme_unfocused_view_text_color_breeze #0e4f44;
@define-color theme_view_active_decoration_color_breeze #00d3b8;
@define-color theme_view_hover_decoration_color_breeze #00d3b8;
@define-color tooltip_background_breeze #353945;
@define-color tooltip_border_breeze #306b61;
@define-color tooltip_text_breeze #21ffb4;
@define-color unfocused_borders_breeze #124642;
@define-color unfocused_insensitive_borders_breeze #15282f;
@define-color warning_color_backdrop_breeze #ff6a00;
@define-color warning_color_breeze #ff6a00;
@define-color warning_color_insensitive_backdrop_breeze #633317;
@define-color warning_color_insensitive_breeze #633317;
